<section id='section-arrivals'>
    <div id='arrivals'>
        <h3><%= title %></h3>
        <% for(let item of arrivals) { %>
            <img src="<%= item %>">
        <% } %>
    </div>
</section>