<div id='color-previews-field' class="<%= className %>">
    <% for(let c of colors) { %>
        <label for="btn_<%= c %>" class='product-color-preview picker' style="background-color: <%= c %>;">
            <input type="radio" name="color" id="btn_<%= c %>">
        </label>
    <% } %>
</div>