    <% if(hasFooter) { %>
        <%- include('./footer') %>
    <% } %>
    <script src="./utils/Utils.js"></script>
    <script src="./controller/InterfaceController.js"></script>

    <% if(['Product', 'Loved Items', 'Collections'].includes(page)) { %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <% } %>

    <script>
        window.appInterface = new InterfaceController("<%= page %>")
    </script>
</body>
</html>